.body-container {
  display: flex;
  flex: 1;
  margin: 10px;
  items-align: center;
  justify-content: center;
}

.items-container {
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.resultLength {
  border-bottom: 1px solid gray;
}

.ul-container {
}

.li-container {
  border-radius: 15px;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid rgba(149, 157, 165, 0.2);
  transition: transform .2s;
  &:hover {
    border: 2px solid #0263D1;
    transform: scale(1.03);
  }
}

.list-content-container {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  justify-content: space-between;
}

.image-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-item: center;
} 

.content-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dots-verticle {
  border-radius: 100%;
  border: none;
  padding: 3px;
  margin: 5px;
  &:hover {
    background-color: rgba(149, 157, 165, 0.2);
  }
}

@media (max-width: 680px) {
  .items-container {
    max-width: 95%;
    justify-content: center;
    items-align: center;
  }
  .image-container {
    margin-right: 10px;
  }
}
@media (min-width: 960px) {
  .items-container {
    width: 780px;
  } 
}


