.body-container {
  display: flex;
  flex: 1;
  margin: 10px;
  align-items: center;
  justify-content: center;
}

.items-container {
  border-radius: 20px;
  padding: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.resultLength {
  border-bottom: 1px solid gray;
}

.li-container {
  border-radius: 15px;
  padding: 10px 0px 10px 0px;
  border-bottom: 1px solid rgba(149, 157, 165, 0.2);
  &:hover {
    cursor: pointer;
    background-color: rgba(149, 157, 165, 0.2);
  }
}

.list-content-container {
  display: flex;
  flex-direction: row;
  border-radius: 20px;
  justify-content: space-between;
}

.image-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  flex: 2;
  justify-content: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dots-verticle {
  border-radius: 100%;
  border: none;
  padding: 3px;
  margin: 5px;
  &:hover {
    background-color: rgba(149, 157, 165, 0.5);
  }
}

.dropdown-menu {
  position: absolute;
}

@media (max-width: 680px) {
  .items-container {
    max-width: 95%;
    justify-content: center;
    align-items: center;
  }
  .image-container {
    margin-right: 10px;
  }
}

@media (max-width: 960px) {
  .items-container {
    width: 780px;
  }
  .dropdown-menu {
    left: 70%;
  }
}

@media (min-width: 1200px) {
  .dropdown-menu {
    right: 50px;
  }
}
